<!-- Offical footer for portfolio -->
    <footer class="text-center py-4 bg-dark">
        <p>© Copyright 2025. All rights reserved</p>
        <a href="https://github.com/saadnavotu" target="_blank" class="text-light">
            <i class="fa-brands fa-lg fa-square-github"></i>
        </a>
        <a href="https://linkedin.com/in/saadnav" target="_blank" class="text-light">
            <i class="fa-brands fa-lg fa-linkedin"></i>
        </a>
    </footer>